a.link {
    position: relative;
    min-width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
  }
  a.link:hover {
    background-color: var(--bg-hover);
  }
  
  a.active-link {
    position: relative;
    min-width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--bg-hover);
  }
  
  a.link::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: 0.3s;
  }
  
  a.link:hover::after {
    width: 100%;
  }
  
  a.active-link::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: 0.3s;
  }
  